/* Fonts */
@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Regular.ttf") format("truetype"),
        url("fonts/Montserrat-Regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Medium.ttf") format("truetype"),
        url("fonts/Montserrat-Medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-SemiBold.ttf") format("truetype"),
        url("fonts/Montserrat-SemiBold.woff") format("woff");
    font-weight: 600;
}
@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Bold.ttf") format("truetype"),
        url("fonts/Montserrat-Bold.woff") format("woff");
    font-weight: 700;
}

body {
    font-family: "Montserrat";
}