@import url("reset.css");

/* Fonts */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../Montserrat-Medium.ttf") format("truetype"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
}

:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --font-color: #5c5c5c;
  --heading-color: var(--black-color);

  --blue-button-color: #1b63f0;
  --green-button-color: #64be97;
  --light-green-button-color: #97f5cd;
  --blue-button-hover-color: #3d7fff;
  --green-button-hover-color: #25de8e;
  --light-green-button-hover-color: #c0ffe4;
  --blue-button-pressed-color: #175ee9;
  --green-button-pressed-color: #4dda9d;
  --light-green-button-pressed-color: #83ebbf;

  --blue-link-color: var(--blue-button-color);
  --light-green-link-color: var(--light-green-button-color);
  --hover-link-color: var(--blue-button-color);
  --heading-light-green-color: var(--light-green-button-color);

  --input-bg-color: #f3f6fc;
  --list-disc-color: #fde7e6;
  --title-featured-color: #f6f2e9;
  --text-section-color: #838383;

  --days-color: #91a3ed;
  --hours-color: #f0c41b;
  --min-color: #fe5f60;
  --error-color: #f15b5b;
}

body {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 1.57;
  color: var(--font-color);
}

.container {
  min-width: 375px;
  width: 375px;
  margin: 0 auto;
  background-image: url("../images/background-top-2.svg"),
    url("../images/background-top-1.svg");
  background-position: right top, right top;
  background-size: 357px, 375px;
  background-repeat: no-repeat, no-repeat;
}

.header__image:hover {
  --color2: var(--black-color);
}
.header__image,
.hamburger-menu {
  display: inline;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 1.33;
  padding-top: 36px;
  margin-left: 24px;
  margin-right: 24px;
}

.navbar__list {
  display: none;
}

.section-education {
  display: flex;
  flex-direction: column;
}

.section-education__block-1 {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 32px;
  order: 2;
}
.section-education__block-2 {
  order: 1;
}
.section-education__block-3 {
  margin-left: 24px;
  margin-bottom: 80px;
  order: 3;
}

.logos__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
}

.navbar__list,
.logos__list,
.choose__list,
.section-courses__list,
.section-take-tour__list,
.section-preference__list,
.section-customer__slider,
.section-start__list,
.section-blog__list,
.section-blog__number-slider,
.footer__list,
.footer__nav {
  list-style: none;
}

.navbar__list-link {
  text-decoration: none;
  font-weight: 600;
  color: var(--white-color);
}
.navbar__list-link:hover {
  color: var(--blue-link-color);
}

.btn {
  padding: 12px 24px;
  height: 40px;
  text-decoration: none;
  border-radius: 22px;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 700;
  color: var(--white-color);
}
.btn-black-text {
  color: var(--black-color);
}

.btn-blue {
  background-color: var(--blue-button-color);
}
.btn-blue:hover {
  background-color: var(--blue-button-hover-color);
}
.btn-blue:active {
  background-color: var(--blue-button-pressed-color);
}

.btn-transparent {
  border: 1px solid var(--white-color);
}
.btn-transparent:hover {
  background: rgba(255, 255, 255, 0.15);
}
.btn-transparent:active {
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid var(--white-color);
}

.btn-light-green {
  background-color: var(--light-green-button-color);
}
.btn-light-green:hover {
  background-color: var(--light-green-button-hover-color);
}
.btn-light-green:hover {
  background-color: var(--light-green-button-pressed-color);
}

.btn-1 {
  width: 96px;
}
.btn-2 {
  width: 116px;
  margin-right: 24px;
}
.btn-3 {
  width: 119px;
}
.btn-4 {
  width: 108px;
}
.btn-5 {
  width: 108px;
}

.section-education__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;
  color: var(--heading-color);
  margin-top: 10px;
  margin-bottom: 32px;
}
.section-education-description {
  margin-bottom: 40px;
}
.section-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  color: var(--heading-color);
}

.choose__list-item-title,
.section-choose-us-2__title,
.section-blog__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black-color);
}

.section-courses__description {
  text-align: center;
}

.section-courses__header,
.section-take-tour__header {
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
}

.section-courses__link,
.section-take-tour__link {
  text-decoration: none;
  color: var(--blue-link-color);
}

.section-courses__list {
  color: var(--white-color);
}

.section-courses__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.section-courses__new-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
}

.section-courses__old-price {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  text-decoration-line: line-through;
}

.section-take-tour__list-item::before {
  content: "•";
  width: 8px;
  height: 8px;
  color: var(--list-disc-color);
}

.section-choose-us-2__title-featured {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.21;
  letter-spacing: 0.4em;
  color: var(--title-featured-color);
}

.section-choose-us-2__text {
  color: var(--text-section-color);
}

.section-choose-us-2__days,
.section-choose-us-2__hours,
.section-choose-us-2__min {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
}

.section-choose-us-2__days {
  color: var(--days-color);
}
.section-choose-us-2__hours {
  color: var(--hours-color);
}
.section-choose-us-2__min {
  color: var(--min-color);
}

.section-preference__list-item {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-color);
}

.section-customer__title,
.section-blog__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  color: var(--black-color);
}

.section-title-green {
  color: var(--heading-light-green-color);
}

.section-start {
  color: var(--white-color);
}

.section-start__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  color: var(--white-color);
}

.section-blog__header {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: #5d74e4;
}

.button {
  width: 120px;
  height: 44px;
  background: var(--green-button-color);
  box-shadow: 0px 4px 16px rgba(75, 202, 103, 0.58);
  border-radius: 22px;
  border: none;
  cursor: pointer;
}
.button:hover {
  background: var(--green-button-hover-color);
  box-shadow: 0px 10px 16px 4px rgba(52, 210, 142, 0.58);
}
.button:active {
  background: var(--green-button-pressed-color);
  box-shadow: 0px 4px 16px rgba(75, 202, 103, 0.58);
}

.form__input {
  width: 420px;
  height: 44px;
  background: var(--input-bg-color);
  border-radius: 22px;
  border: none;
}
::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--font-color);
  padding: 0px 12px;
}
.form__input:focus {
  border: 2px solid var(--blue-link-color);
}
.form__input:invalid {
  border: 1px solid var(--error-color);
}
.form__input:valid {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--black-color);
  outline: var(--blue-link-color);
}

.footer__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black-color);
}

.footer__additonal-info {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  color: var(--font-color);
}

.footer__nav-item-link,
.footer__list-item-link {
  text-decoration: none;
  color: var(--font-color);
}

.footer__nav-item-link:hover {
  color: var(--blue-link-color);
}
.footer__list-item-link:hover {
  color: var(--light-green-link-color);
}

/* @media screen and (min-width: 768px) {
  .container {
    width: 768px;
    background-size: 740px 652px, 778px 652px;
  }
  .hamburger-menu-link {
    display: none;
  }
  .navbar {
    padding-top: 24px;
  }
  .navbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 295px;
    padding: 0px;
    gap: 40px;
  }
  .navbar__list {
    display: flex;
    flex-direction: row;
    margin: 12px;
    align-items: flex-end;
    padding: 0px;
    gap: 20px;
  }
} */
